/* Sour Gummy */
.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Fredoka */
.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Outfit */
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Roboto */
.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* Weights (shared across all fonts) */
.weight-100 {
  font-weight: 100;
}
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-700 {
  font-weight: 700;
}
.weight-900 {
  font-weight: 900;
}
